USE [master]
GO
/****** Object:  Database [Enerfit]    Script Date: 26/11/2025 12:03:20 ******/
CREATE DATABASE [Enerfit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Enerfit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Enerfit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Enerfit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Enerfit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Enerfit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Enerfit]
GO
/****** Object:  User [alumno]    Script Date: 26/11/2025 12:03:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[GuardadosRecetas]    Script Date: 26/11/2025 12:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuardadosRecetas](
	[IDGuardadosReceta] [int] IDENTITY(1,1) NOT NULL,
	[IDRecetas] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_GuardadosRecetas] PRIMARY KEY CLUSTERED 
(
	[IDGuardadosReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuardadosRutinas]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuardadosRutinas](
	[IDRutinas] [int] NOT NULL,
	[IDGuardadosRutina] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_GuardadosRutinas_1] PRIMARY KEY CLUSTERED 
(
	[IDGuardadosRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[IDHistorial] [int] IDENTITY(1,1) NOT NULL,
	[chat] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Historial] PRIMARY KEY CLUSTERED 
(
	[IDHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[IDIngredientes] [int] IDENTITY(1,1) NOT NULL,
	[calorias] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[proteinas] [varchar](50) NOT NULL,
	[carbohidratos] [varchar](50) NOT NULL,
	[IDRecetas] [int] NOT NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[IDIngredientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IDPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IDPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[IDRecetas] [int] IDENTITY(1,1) NOT NULL,
	[Ingredientes] [varchar](50) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[calorias] [varchar](50) NOT NULL,
	[proteinas] [varchar](50) NULL,
	[carbohidratos] [varchar](50) NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[IDRecetas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecetasIngredientes]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetasIngredientes](
	[IDRecetasIngredientes] [int] IDENTITY(1,1) NOT NULL,
	[IDingredientes] [int] NOT NULL,
	[IDRecetas] [int] NOT NULL,
 CONSTRAINT [PK_RecetasIngredientes] PRIMARY KEY CLUSTERED 
(
	[IDRecetasIngredientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[IDRutinas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[pasos] [varchar](50) NOT NULL,
	[personalizada] [varchar](50) NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Rutinas] PRIMARY KEY CLUSTERED 
(
	[IDRutinas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2025 12:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contrasenia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IDPerfil], [nombre], [apellido], [email], [Sexo], [IDUsuario]) VALUES (15, N'fity', N'fit', N'49518922@est.ort.edu.ar', N'M', 39)
INSERT [dbo].[Perfil] ([IDPerfil], [nombre], [apellido], [email], [Sexo], [IDUsuario]) VALUES (16, N'fity', N'fit', N'49518922@est.ort.edu.ar', N'M', 40)
INSERT [dbo].[Perfil] ([IDPerfil], [nombre], [apellido], [email], [Sexo], [IDUsuario]) VALUES (17, N'fity', N'fit', N'49518922@est.ort.edu.ar', N'M', 41)
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([IDRecetas], [Ingredientes], [Titulo], [calorias], [proteinas], [carbohidratos]) VALUES (2, N'aa', N'aa', N'11', N'11', N'11')
INSERT [dbo].[Recetas] ([IDRecetas], [Ingredientes], [Titulo], [calorias], [proteinas], [carbohidratos]) VALUES (3, N'aa', N'aa', N'11', N'11', N'11')
INSERT [dbo].[Recetas] ([IDRecetas], [Ingredientes], [Titulo], [calorias], [proteinas], [carbohidratos]) VALUES (4, N'aa', N'aa', N'11', N'11', N'11')
SET IDENTITY_INSERT [dbo].[Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IDUsuario], [nombre], [contrasenia]) VALUES (1, N'Fit', N'1234')
INSERT [dbo].[Usuario] ([IDUsuario], [nombre], [contrasenia]) VALUES (2, N'Fit', N'1234')
INSERT [dbo].[Usuario] ([IDUsuario], [nombre], [contrasenia]) VALUES (3, N'Fit', N'1234')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[GuardadosRecetas]  WITH CHECK ADD  CONSTRAINT [FK_GuardadosRecetas_Recetas] FOREIGN KEY([IDRecetas])
REFERENCES [dbo].[Recetas] ([IDRecetas])
GO
ALTER TABLE [dbo].[GuardadosRecetas] CHECK CONSTRAINT [FK_GuardadosRecetas_Recetas]
GO
ALTER TABLE [dbo].[GuardadosRecetas]  WITH CHECK ADD  CONSTRAINT [FK_GuardadosRecetas_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[GuardadosRecetas] CHECK CONSTRAINT [FK_GuardadosRecetas_Usuario]
GO
ALTER TABLE [dbo].[GuardadosRutinas]  WITH CHECK ADD  CONSTRAINT [FK_GuardadosRutinas_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[GuardadosRutinas] CHECK CONSTRAINT [FK_GuardadosRutinas_Usuario]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [FK_Historial_Usuario]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Usuario]
GO
ALTER TABLE [dbo].[RecetasIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RecetasIngredientes_Ingredientes] FOREIGN KEY([IDingredientes])
REFERENCES [dbo].[Ingredientes] ([IDIngredientes])
GO
ALTER TABLE [dbo].[RecetasIngredientes] CHECK CONSTRAINT [FK_RecetasIngredientes_Ingredientes]
GO
ALTER TABLE [dbo].[RecetasIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RecetasIngredientes_Recetas] FOREIGN KEY([IDRecetas])
REFERENCES [dbo].[Recetas] ([IDRecetas])
GO
ALTER TABLE [dbo].[RecetasIngredientes] CHECK CONSTRAINT [FK_RecetasIngredientes_Recetas]
GO
ALTER TABLE [dbo].[Rutinas]  WITH CHECK ADD  CONSTRAINT [FK_Rutinas_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Rutinas] CHECK CONSTRAINT [FK_Rutinas_Usuario]
GO
USE [master]
GO
