@{
    ViewData["Title"] = "Alimentacion";
}

<section>
    <div>
        <img src="" alt="">
        <h3>Plan personalizado</h3>
        <button>Crear</button>
        <button>Ver</button>
    </div>
    <div>
        <img src="/Imagenes/Plan por obj.png" alt="">
        <h3>Plan por objetivos</h3>
        <button>Ver</button>
    </div>
    <div>
        <img src="" alt="">
        <h3>Recetas saludables</h3>
        <button>Crear</button>
        <button>Ver</button>
    </div>
</section>