@{
    ViewData["Title"] = "Alimentacion";
}

<section class="cards-section">
    <div class="card">
        <img src="/Imagenes/Alimentacion.png" alt="">
        <h3>Plan personalizado</h3>
        <div class="buttons">
         <div class="buttons">
            <a href="/Home/CrearPlanAlimentacion"><button>Crear</button></a>
        </div>
            <button>Ver</button>
        </div>
    </div>
    <div class="card">
        <img src="/Imagenes/Plan por obj.png" alt="">
        <h3>Plan por objetivos</h3>
        <div class="buttons">
            <a href="/Home/PlanesPorObjetivo1"><button>Ver</button></a>

        </div>
    </div>
    <div class="card">
        <img src="/Imagenes/Recetas.png" alt="">
        <h3>Recetas saludables</h3>
        <div class="buttons">
            <div class="buttons">
            <a href="/Home/CrearReceta"><button>Crear</button></a>
           <a href="/Home/Recetas"><button>Ver</button></a>

        
    </div>
</section>
