@{
    ViewData["Title"] = "Bicep";
}
 
 <section class="Bicep">
<div>
    <h3>Curl de Bicep</h3>
    <img src="/Imagenes/CurlBicep.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Curl Martillo</h3>
    <img src="/Imagenes/CurlMartillo.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Curl Concentrado</h3>
    <img src="/Imagenes/CurlConcentrado.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
 </section>