<section class="cards-section">
    <div class="card bloqueada">
        <img src="/Imagenes/Foro.png" alt="">
        <h3>Foro de Discusion</h3>
        <div class="buttons">
            <button>Crear</button>
            <button>Unirse</button>
        </div>
    </div>

    <div class="card bloqueada">
        <img src="/Imagenes/Grupos.png" alt="">
        <h3>Grupos</h3>
        <div class="buttons">
            <button>Crear</button>
            <button>Unirse</button>
        </div>
    </div>

    <div class="card bloqueada">
        <img src="/Imagenes/Trofeo.png" alt="">
        <h3>Trofeos</h3>
        <div class="buttons">
            <button>Ranking</button>
            <button>Logros</button>
        </div>
    </div>
</section>
