@{
    ViewData["Title"] = "Crear Tema";
}

<h2 class="titulo">Crear nuevo tema</h2>

<div class="formulario1 tema-crear-container">

    <form method="post" action="/Home/CrearTema">

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required />

        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="contenido" rows="5" required></textarea>

        <button type="submit">Publicar</button>

        <a href="/Home/Foro" class="btn-secundario">Volver</a>

    </form>

</div>
