@{
    ViewData["Title"] = "Deficit";
}
 
 <section class="Deficit">
<div>
    <h3>Plan 1</h3>
   <p>Objetivo: Deficit</p>
    <p>Mayoria vegetales </p>
</div>
<div>
    <h3>Plan 2</h3>
    <p>Objetivo: Deficit</p>
    <p> Mayoria Carnes</p>
</div>
<div>
   <h3>Plan 3</h3>
    <p>Objetivo: Deficit</p>
    <p>Variado </p>
</div>
 </section>