@model Enerfit.Models.Perfil
@{
    ViewData["Title"] = "Editar Perfil";
}

<div class="formulario1">
    <h2>Editar Perfil</h2>

    <form asp-action="EditarPerfil" method="post">
        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" value="@Model.Nombre" required />

        <label for="Apellido">Apellido:</label>
        <input type="text" id="Apellido" name="Apellido" value="@Model.Apellido" required />

        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" required />

        <label for="Sexo">Sexo:</label>
        <select id="Sexo" name="Sexo" required>
        <option value="">Seleccione</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="Otro">Otro</option>
        </select>

        <button type="submit">Guardar Cambios</button>
        <a href="/Home/Perfil" class="btn-secundario">Cancelar</a>
    </form>
</div>
