@{
    ViewData["Title"] = "Entrenamiento";
}

<section>
    <div>
        <img src="" alt="">
         <h3>Rutinas personalizadas</h3>
        <button>Crear</button>
        <button>Ver</button>
    </div>
     <div>
        <img src="" alt="">
         <h3>Rutinas por zonas</h3>
        <button>Ver</button>
    </div>
        <div>
        <img src="" alt="">
         <h3>Videos</h3>
        <button>Ver</button>
    </div>
     <div>
        <img src="" alt="">
         <h3>Guardados/Favoritos</h3>
        <button>Ver</button>
    </div>
</section>