@{
    ViewData["Title"] = "Entrenamiento";
}

<div class="container-opciones">
    <div class="card">
        <img src="/Imagenes/RutinasPerso.png" alt="">
        <h2>Rutinas personalizadas</h2>
        <button>Crear</button>
        <button>Ver</button>
    </div>

    <div class="card">
        <img src="/Imagenes/RutinaPorZona.png" alt=" ">
        <h2>Rutinas por zonas</h2>
        <button>Ver</button>
    </div>

    <div class="card">
        <img src="/Imagenes/Videos.png" alt=" ">
        <h2>Videos</h2>
         <div class="buttons">
            <a href="/Home/Videos"><button>Ver</button></a>

        </div>
    </div>

    <div class="card">
        <img src="/Imagenes/Guardados.png" alt=" ">
        <h2>Guardados/Favoritos</h2>
        <button>Ver</button>
    </div>
</div>
