@{
    ViewData["Title"] = "Healthbot";
}

<section class="cards-section">
    </div>
    <div class="Food">
    <div class="card">
 <img src="/Imagenes/Logo.png" alt="">
        <h3>Food</h3>
         <div class="buttons">
            <button>Entrar</button>
        </div>
    </div>
       
    </div>
    <div class="Train">
        <div class="card">
 <img src="/Imagenes/Logo.png" alt="">
        <h3>Train</h3>
        <div class="buttons">
            <button>Entrar</button>
        </div>
        </div>
       
    </div>
</section>