@{
    ViewData["Title"] = "InicioSesion";
}

<div>
    <img src="" alt="Logo Enerfit" />

    <form method="post">
        <label for="nombreUsuario">Nombre de usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" />

        <label for="contrasenia">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" />

        <button type="submit">Ingresar</button>
    </form>
</div>
