@{
    ViewData["Title"] = "InicioSesion";
}

<div class="login-container">
    <img src="/Imagenes/Logo.png" alt="Logo Enerfit" />

 <form asp-controller="Home" asp-action="IniciarSesion" method="post">

        <label for="nombreUsuario">Nombre de usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" />

        <label for="contrasenia">Contraseña:</label>
        <input type="password" id="contrasenia" name="contrasenia" />

        <button type="submit">Ingresar</button>
    </form>

<p>¿No tienes cuenta? <a href="/Home/IrARegistro">Regístrate aquí</a></p>


</div>
