@{
    ViewData["Title"] = "Pecho";
}
 
 <section class="Pecho">
<div>
    <h3>Flexiones</h3>
    <img src="/Imagenes/Flexiones.gif" alt="">
    <p>Repeticiones: 3 x 40 seg</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Pullover con mancuerna</h3>
    <img src="/Imagenes/Pullover.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Press Banca</h3>
    <img src="/Imagenes/Pressbanca.jfif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
 </section>