@{
    ViewData["Title"] = "Piernas";
}
 
 <section class="Ejercicios">
<div>
    <h3>Extensiones de cuadriceps</h3>
    <img src="/Imagenes/ExtensionDeCuadriceps.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Sentadilla</h3>
    <img src="/Imagenes/Sentadilla.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Curl Femoral</h3>
    <img src="/Imagenes/CurlFemoral.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
 </section>