@{
    ViewData["Title"] = "Planes por objetivo";
}

<section class = "PlanObj">
    <div>
        <img src="/Imagenes/Volumen.png" alt="">
        <h5>Volumen</h5>
        <div class="buttons">
            <a href="/Home/Volumen"><button>Ver</button></a>

        </div>
    </div>
       <div>
        <img src="/Imagenes/Deficit.png" alt="">
        <h5>Deficit</h5>
          <div class="buttons">
            <a href="/Home/Deficit"><button>Ver</button></a>

        </div>
    </div>
</section>
