@{
    ViewData["Title"] = "Planes por objetivo";
}

<section>
    <div>
        <img src="" alt="">
        <h5>Volumen</h5>
    </div>
       <div>
        <img src="" alt="">
        <h5>Deficit</h5>
    </div>
</section>
