@{
    ViewData["Title"] = "Progreso";
}

<section class="cards-section">
    <div class="card bloqueada">
        <img src="/Imagenes/Historial.png" alt="">
        <h3>Historial entrenamiento</h3>
        <div class="buttons">
            <button>Crear</button>
            <button>Ver</button>
        </div>
    </div>
    <div class="card bloqueada">
        <img src="/Imagenes/Historial.png" alt="">
        <h3>Historial Alimentacion</h3>
        <div class="buttons">
            <button>Crear</button>
            <button>Ver</button>

        </div>
    </div>
    <div class="card">
        <img src="/Imagenes/Calcu.png" alt="">
        <h3>Calculadora IMC</h3>
        <div class="buttons">
            <button>Ver</button>
        </div>
    </div>
</section>
