
@{
    ViewData["Title"] = "Registro";
}
<section class="registro">
<form asp-action="Registro" method="post">
    <img src="/Imagenes/Logo.png" alt="Logo Enerfit" />
    <input type="text" name="nombreUsuario" placeholder="Usuario" required />
    <input type="password" name="contrasenia" placeholder="Contraseña" required />
    <input type="text" name="nombre" placeholder="Nombre" required />
    <input type="text" name="apellido" placeholder="Apellido" />
    <input type="email" name="email" placeholder="Email" required />
    <select name="sexo">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
    </select>
    <button type="submit">Registrarse</button>
</form>


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">@ViewBag.Mensaje</div>
}


</section>
