@{
    ViewData["Title"] = "Rutina por zona";
}
 <h2>Entrenamientos por Músculo</h2>
<section class="musculos-section">
   

    <div class="musculos-container">
        <div class="musculo-card">
            <img src="/Imagenes/hombro.png" alt="Hombro">
            <p>Hombro</p>
           <div class="buttons">
            <a href="/Home/Hombros"><button>Ver</button></a>

        </div>
        </div>

        <div class="musculo-card">
            <img src="/Imagenes/pierna.png" alt="Pierna">
            <p>Pierna</p>
            <a href="#" class="btn-ver">Ver</a>
        </div>

        <div class="musculo-card">
            <img src="/Imagenes/bicep.png" alt="Bicep">
            <p>Bicep</p>
            <a href="#" class="btn-ver">Ver</a>
        </div>

        <div class="musculo-card">
            <img src="/Imagenes/tricep.png" alt="Tricep">
            <p>Tricep</p>
            <a href="#" class="btn-ver">Ver</a>
        </div>

        <div class="musculo-card">
            <img src="/Imagenes/abdomen.png" alt="Abdomen">
            <p>Abdomen</p>
            <a href="#" class="btn-ver">Ver</a>
        </div>

        <div class="musculo-card">
            <img src="/Imagenes/pecho.png" alt="Pecho">
            <p>Pecho</p>
            <a href="#" class="btn-ver">Ver</a>
        </div>
    </div>
</section>