@{
    ViewData["Title"] = "Hombros";
}
 
 <section class="Ejercicios">
<div>
    <h3>Extensiones de pie con mancuernas</h3>
    <img src="/Imagenes/extensionesDepie.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Extension de Tricep con polea</h3>
    <img src="/Imagenes/ExtensionTricepPolea.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
<div>
    <h3>Press Frances con mancuerna</h3>
    <img src="/Imagenes/PressFrances.gif" alt="">
    <p>Repeticiones: 3 x 12</p>
    <p>Descanso: 1:30 min</p>
</div>
 </section>