@{
    ViewData["Title"] = "VerPlanEntrenamiento";
}

<h2>Planes personalizados</h2>
<section class="PlanDefVol">
    <div>
        <h3>Entrenamiento para Pérdida de Peso</h3>
        <p>Objetivo: Alto gasto calórico</p>
        <p>Enfoque: Full body + Cardio HIIT</p>
    </div>

    <div>
        <h3>Entrenamiento para Aumento de Masa Muscular</h3>
        <p>Objetivo: Hipertrofia</p>
        <p>Enfoque: Rutina dividida por grupos musculares</p>
    </div>

    <div>
        <h3>Entrenamiento Funcional en Casa</h3>
        <p>Objetivo: Mejorar estado físico general</p>
        <p>Enfoque: Circuitos sin equipamiento</p>
    </div>

    <div>
        <h3>Entrenamiento tipo Cross Training</h3>
        <p>Objetivo: Resistencia y fuerza</p>
        <p>Enfoque: WOD + ejercicios compuestos</p>
    </div>

    <div>
        <h3>Entrenamiento Low Impact</h3>
        <p>Objetivo: Tonificar sin impacto</p>
        <p>Enfoque: Ejercicios controlados + caminata o bici</p>
    </div>

    <div>
        <h3>Entrenamiento para Definición</h3>
        <p>Objetivo: Mantener músculo y reducir grasa</p>
        <p>Enfoque: Fuerza + Cardio moderado</p>
    </div>
</section>