@{
    ViewData["Title"] = "VerPlanPersonalizado";
}

    <h2>Planes personalizados</h2>
        <section class="PlanDefVol">
        <div>
            <h3>Alimentación para Pérdida de Peso</h3>
                 <p>Objetivo: Deficit calorico saludable</p>
                 <p>Mayoria vegetales </p>
        </div>
        <div>
                <h3>Alimentación para Aumento de Masa Muscular</h3>
                 <p>Objetivo: Volumen de masa muscular</p>
                <p> Mayoria Carnes</p>
        </div>
        <div>
                <h3>Alimentación Vegetariana para Salud y Energía</h3>
                 <p>Objetivo: Deficit</p>
                <p>Variado</p>
        </div>
        <div>
                <h3>Alimentación Mediterránea</h3>
                  <p>Objetivo: Deficit</p>
                   <p>Variado </p>
        </div>
        <div>
                <h3>Alimentación Low Carb para Control de Peso</h3>
                 <p>Objetivo: Deficit</p>
                 <p>Variado </p>
        </div>
        </div>
        <div>
                    <h3>Alimentación Detox y Energizante</h3>
                    <p>Objetivo: Deficit</p>
                    <p>Variado </p>
        </div>

        </section>
    