@model List<Enerfit.Models.Recetas>

<h1>Recetas Saludables</h1>

<a class="btn btn-success" href="/Home/CrearReceta">Crear nueva receta</a>

<table class="table table-bordered mt-3">
    <tr>
        <th>Nombre</th>
        <th>Calorías</th>
        <th>Proteínas</th>
        <th>Carbohidratos</th>
        <th>Acciones</th>
    </tr>

@foreach (var r in Model)
{
    <tr>
        <td>@r.nombreReceta</td>
        <td>@r.Calorias</td>
        <td>@r.Proteinas</td>
        <td>@r.Carbohidratos</td>
        <td>
            <a href="/Home/EditarReceta/@r.IdRecetas" class="btn btn-warning">Editar</a>
            <a href="/Home/BorrarReceta/@r.IdRecetas" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
}
</table>
