@{
    ViewData["Title"] = "Videos";
}
 <h1>Videos de Entrenamiento</h1>
<section class="videos-section">
    
    <div class="videos-container">

        <div class="video-card">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/A5wqXRv0DIQ?si=ptDMwVUfSm8pHHHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Entrenamiento Full Body</h3>
        </div>

        <div class="video-card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pVUjeSh9sTw?si=Xcpii2Bz_8nrAZXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Rutina de Piernas</h3>
        </div>

        <div class="video-card">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/39Sn10y7HMM?si=NYR1L8oOEqK2GiSi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Cardio en Casa</h3>
        </div>

        <div class="video-card">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nyYroERVBYQ?si=Zghu-d4wF1wylAwt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Entrenamiento de Brazos</h3>
        </div>

        <div class="video-card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZWObJtFtIKA?si=iSDDltYWzcwlUQLO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Espalda Fuerte</h3>
        </div>

        <div class="video-card">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/K4CKUDXhVWY?si=s-RmfJjqVOUMaZz3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Abdomen Marcado</h3>
        </div>

    </div>
</section>